

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    max-width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.container{
    background-image: url(./img/samambaia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 100%;
    width: 100%;
    
}
.titulo{
    height: 100%;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    block-size: 300px;
    font-size: max(60px, 5vw);
    font-family: 'Lexend Mega';
    
}

.cadastro:hover{
    background: #fff;
    transition: background 1s;
}

.google{
    background: #FCFCFC;
    padding: 10px 65px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    font-family:'Anek Latin' ;
    justify-content: center;
    align-items: center;
    font-size: medium;
    margin: auto;
    margin-top: 120px;
    height: 30px;
    width: 180px;
   }

.facebook{
    background: #FCFCFC;
    padding: 10px 65px; 
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    font-family:'Anek Latin' ;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    width: 180px;

}

.container_ou{
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.cadastro{
    background: #FCFCFC;
    padding: 10px 65px; 
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    font-family:'Anek Latin' ;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    height: 30px;
    width: 180px;
}

