

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.container{
    background-image: url(./img/samambaia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 100%;
    width: 100%;
    
}
.titulo{
    height: 100%;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    block-size: 300px;
    font-size: max(60px, 5vw);
    font-family: 'Lexend Mega';
    
}
.cadastro{
    background: #E2E2E2;
    padding: 5px 80px;
    color: rgb(0, 0, 0);
    width: 50px;
    text-align: center;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    display: flex;
    font-family:'Anek Latin' ;
    justify-content: center;
    align-items: center;
    top: 90%;
    left: 50%;
   transform: translate(-50%, -50%);

}
.cadastro:hover{
    background: #fff;
    transition: background 1s;
}
.facebook{
    background: #FCFCFC;
    padding: 10px 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #555;
    border-radius: 40px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    display: flex;
    font-family:'Anek Latin' ;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 5vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.google{
    background: #FCFCFC;
    padding: 10px 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #555;
    border-radius: 40px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    display: flex;
    font-family:'Anek Latin' ;
    justify-content: center;
    align-items: center;
    font-size: medium;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 5vw;
   }

